body {
  font-size: 12px;
  color: #df6300;
  width: 400px;
  height: 80px;
  font-family: "Helvetica Neue",Arial,sans-serif;
  display: inline-block;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:active{
  color: #363231;
}

a:hover {
  color: #df6300;
  cursor: pointer;
}

ul {
  /* katakana list seemed relevant/aesthetically pleasing */
  list-style-type: katakana;
  margin: 20px;
  padding-left: 0px;
}

#lastEpisodeHTML {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 22px;

}

ul li {
  padding:  4px;
}

h1 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #df6300;
}
